messenger2conversation
[{"id":"6594297e.81e518","type":"http in","z":"4e0d5ce1.c22bfc","name":"","url":"/webhook","method":"get","upload":false,"swaggerDoc":"","x":111,"y":176,"wires":[["a15fd162.39ff7","a1d5e96b.f9b058"]]},{"id":"a1d5e96b.f9b058","type":"function","z":"4e0d5ce1.c22bfc","name":"","func":"var mode = '';\nvar vtoken = '';\nvar challenge = '';\nif (msg.payload['hub.mode'])\n{\n   mode = msg.payload['hub.mode'];\n}\nif (msg.payload['hub.verify_token'])\n{\n   vtoken = msg.payload['hub.verify_token'];\n}\nif (msg.payload['hub.challenge'])\n{\n   challenge = msg.payload['hub.challenge'];\n}\nif ('subscribe' == mode &&\n 'testtreetracking_messenger_app' == vtoken) {\n   msg.payload = challenge;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":176,"y":235,"wires":[["fb395c2a.6270c8"]]},{"id":"fb395c2a.6270c8","type":"http response","z":"4e0d5ce1.c22bfc","name":"","statusCode":"","headers":{},"x":292,"y":234,"wires":[]},{"id":"a15fd162.39ff7","type":"debug","z":"4e0d5ce1.c22bfc","name":"","active":true,"console":"false","complete":"false","x":196,"y":125,"wires":[]},{"id":"8ca5aabe.b5f278","type":"http in","z":"4e0d5ce1.c22bfc","name":"","url":"/webhook","method":"post","upload":false,"swaggerDoc":"","x":438,"y":145,"wires":[["9df79c94.700fa8","e29ffef7.72201"]]},{"id":"9df79c94.700fa8","type":"function","z":"4e0d5ce1.c22bfc","name":"setup for Send API","func":"context.global.sid = msg.payload.entry[0].messaging[0].sender.id;\nmsg.payload = msg.payload.entry[0].messaging[0].message.text;\nreturn msg;","outputs":1,"noerr":0,"x":506,"y":211,"wires":[["6c2fcd84.ac3a14"]]},{"id":"6c2fcd84.ac3a14","type":"watson-conversation-v1","z":"4e0d5ce1.c22bfc","name":"","workspaceid":"d427ddec-906e-45c1-9822-13a7418c2495","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":648,"y":141,"wires":[["1721137a.b8bf6d"]]},{"id":"1721137a.b8bf6d","type":"function","z":"4e0d5ce1.c22bfc","name":"Format Send Request","func":"var messageText = msg.payload.output.text[0];\nvar senderId = context.global.sid;\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": messageText\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":762,"y":214,"wires":[["6e50e669.d02708"]]},{"id":"6e50e669.d02708","type":"http request","z":"4e0d5ce1.c22bfc","name":"Send API Request","method":"POST","ret":"obj","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAEKSDl0ZAZBIBAJ8VhSs4MU5dXUoGm6eo78PPIyZCxlOAonYkzFaN5p6dRSY4cidtL3Nmhyb0zeGXfSFon5feVGEA3ToB8zAAm0wEvDSDv1jmVZAs61mizoRHkI4n99TTksT4tpaZB0AKVI4ruoDhzqxhipjSuZC4y42dCLZBX4BxfvpDI0rsQ","tls":"","x":860,"y":145,"wires":[["c22b10ee.c5d41"]]},{"id":"c22b10ee.c5d41","type":"http response","z":"4e0d5ce1.c22bfc","name":"","statusCode":"","headers":{},"x":971,"y":207,"wires":[]},{"id":"20081b85.e705b4","type":"comment","z":"4e0d5ce1.c22bfc","name":"Get with FB","info":"","x":223,"y":75,"wires":[]},{"id":"e57a3bc6.1c425","type":"comment","z":"4e0d5ce1.c22bfc","name":"Post from FB ( Watson Conversation)","info":"","x":668,"y":74,"wires":[]},{"id":"e29ffef7.72201","type":"debug","z":"4e0d5ce1.c22bfc","name":"","active":true,"console":"false","complete":"false","x":626,"y":300,"wires":[]}]
