messengerplatforwithnotificationapp
[{"id":"63d1d578.44c0c4","type":"http in","z":"cbed1a51.bc99a","name":"","url":"/urlappsensor","method":"get","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["8fda7d87.87201","23fce47b.65491c"]]},{"id":"8fda7d87.87201","type":"debug","z":"cbed1a51.bc99a","name":"","active":true,"console":"false","complete":"false","x":310,"y":100,"wires":[]},{"id":"23fce47b.65491c","type":"function","z":"cbed1a51.bc99a","name":"Verify","func":"var mode = '';\nvar vtoken = '';\nvar challenge = '';\nif (msg.payload['hub.mode'])\n{\n   mode = msg.payload['hub.mode'];\n}\nif (msg.payload['hub.verify_token'])\n{\n   vtoken = msg.payload['hub.verify_token'];\n}\nif (msg.payload['hub.challenge'])\n{\n   challenge = msg.payload['hub.challenge'];\n}\nif ('subscribe' == mode &&\n 'this_is_my_string_token_app' == vtoken) {\n   msg.payload = challenge;\n}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":160,"wires":[["1a9616ae.8ccae9"]]},{"id":"1a9616ae.8ccae9","type":"http response","z":"cbed1a51.bc99a","name":"","statusCode":"","headers":{},"x":310,"y":160,"wires":[]},{"id":"efd33709.4a01","type":"comment","z":"cbed1a51.bc99a","name":"Verification","info":"","x":80,"y":60,"wires":[]},{"id":"e95582fd.a2b818","type":"comment","z":"cbed1a51.bc99a","name":"Get PSID","info":"","x":600,"y":60,"wires":[]},{"id":"97a06883.6c113","type":"http in","z":"cbed1a51.bc99a","name":"","url":"/urlappsensor","method":"post","upload":false,"swaggerDoc":"","x":629,"y":103,"wires":[["e4298550.3e9888","57ebe56c.791cf4"]]},{"id":"57ebe56c.791cf4","type":"debug","z":"cbed1a51.bc99a","name":"","active":true,"console":"false","complete":"false","x":850,"y":80,"wires":[]},{"id":"e4298550.3e9888","type":"http response","z":"cbed1a51.bc99a","name":"","statusCode":"","headers":{},"x":830,"y":140,"wires":[]},{"id":"9e5fcd9.9cf28b","type":"inject","z":"cbed1a51.bc99a","name":"","topic":"","payload":"{ \"id_device\":{ \"name\":\"sensor_esp8266\", \"temperature\":29, \"humidity\":44  } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":130,"y":360,"wires":[["c1d8fd3d.619be"]]},{"id":"c1d8fd3d.619be","type":"function","z":"cbed1a51.bc99a","name":"","func":"var temp = msg.payload.id_device.temperature;\nvar hum = msg.payload.id_device.humidity;\nvar date = new Date();\nvar tempmax=40;\nvar text = \"Tình hình cây trồng :\\n\";\ntext += \"Nhiệt độ : \" + temp + \"\\n\";\ntext += \"Độ ẩm : \" + hum + \"\\n\";\n\nif ( hum < 30)\n{\n    text += \"Đất khô quá, tưới nước đi !\\n\";\n}\n\nif (hum > 90)\n{\n    text += \"Độ ẩm cao không tốt cho cây !\\n\";\n}\n\nif (temp >= tempmax)\ntext += \"Nhiệt độ vượt ngưỡng !\\n\";\n\n\ntext +=\"Time: \" + date + \"\\n\";\n\nvar senderId = 1496587890425619;\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\nreturn msg;\n\n","outputs":1,"noerr":0,"x":430,"y":360,"wires":[["a49be3d6.e36978"]]},{"id":"a49be3d6.e36978","type":"http request","z":"cbed1a51.bc99a","name":"","method":"POST","ret":"obj","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAJ4AF2yGJ4BAGumYNbdYKcDYGfvza4ANtCDPK478sAWDpSciQ1UP2VvMoZBceBSeV3pxnYZAPkeKwlOZCY3Yia4vd6M83ZC58zYPKhz3gMWnY3VegYA4eHgyZBZCWfJwSjBSxrqBAZAZAhy9WDzqahBemI3pJdltuFdIKQoBOvL1qZCoCJ3vs9zD","tls":"","x":790,"y":360,"wires":[["f049a165.ad1a78"]]},{"id":"f049a165.ad1a78","type":"http response","z":"cbed1a51.bc99a","name":"","statusCode":"","headers":{},"x":930,"y":360,"wires":[]},{"id":"4bc5bc5c.6f617c","type":"comment","z":"cbed1a51.bc99a","name":"PSID : 1496587890425619","info":"","x":640,"y":240,"wires":[]},{"id":"b45476b6.3a8d58","type":"comment","z":"cbed1a51.bc99a","name":"Đầu vào","info":"","x":120,"y":300,"wires":[]},{"id":"e4533d62.e8fbd","type":"comment","z":"cbed1a51.bc99a","name":"Xử lý đầu vào và xuất ra bản tin","info":"","x":430,"y":300,"wires":[]},{"id":"e7b920b2.cc655","type":"comment","z":"cbed1a51.bc99a","name":"Messenger nhận và hiển thị tin nhắn","info":"","x":840,"y":300,"wires":[]}]
