nodered.txt
[{"id":"e279ce28.873c8","type":"function","z":"99a2cc48.67f28","name":"","func":"msg.payload = msg.payload.d;\nreturn msg;","outputs":"1","noerr":0,"x":295,"y":80,"wires":[["da15b94a.d488c8"]]},{"id":"da15b94a.d488c8","type":"cloudant out","z":"99a2cc48.67f28","name":"","cloudant":"","database":"treetracking","service":"conv-201-196-testtreetracking-cloudantNoSQLDB","payonly":true,"operation":"insert","x":450,"y":80,"wires":[]},{"id":"c82c6026.7548e","type":"inject","z":"99a2cc48.67f28","name":"","topic":"","payload":"{\"d\":{\"Name\":\"treetrackingtester\",\"temperature\":34,\"humidity\":20}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":80,"wires":[["e279ce28.873c8","fa17269d.e2b6a","e3583d1.b4a904","8a092086.07eb"]]},{"id":"d8675ae0.45f508","type":"comment","z":"99a2cc48.67f28","name":"input data","info":"","x":72,"y":40,"wires":[]},{"id":"fa17269d.e2b6a","type":"switch","z":"99a2cc48.67f28","name":"","property":"payload.d.temperature","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"str"}],"checkall":"true","outputs":1,"x":294,"y":122,"wires":[["d4a0487.8a81538"]]},{"id":"d4a0487.8a81538","type":"function","z":"99a2cc48.67f28","name":"","func":"var temperature = msg.payload.d.temperature;\n\nvar Name = msg.payload.d.Name;\n\nmsg.payload = \"Temperature at device \" + Name + \" is \" + temperature + \" degrees!\";\n\nreturn msg;","outputs":1,"noerr":0,"x":429,"y":122,"wires":[["1f2a1a61.dbd92e"]]},{"id":"1f2a1a61.dbd92e","type":"debug","z":"99a2cc48.67f28","name":"","active":true,"console":"false","complete":"payload","x":583,"y":122,"wires":[]},{"id":"e3583d1.b4a904","type":"switch","z":"99a2cc48.67f28","name":"","property":"payload.d.humidity","propertyType":"msg","rules":[{"t":"lt","v":"30","vt":"str"}],"checkall":"true","outputs":1,"x":294,"y":163,"wires":[["f69909db.15e8f"]]},{"id":"f69909db.15e8f","type":"function","z":"99a2cc48.67f28","name":"","func":"var humidity = msg.payload.d.humidity;\n\nvar Name = msg.payload.d.Name;\n\nmsg.payload = \"Humidity at device \" + Name + \" is \" + humidity + \" degrees!\";\n\nreturn msg;","outputs":1,"noerr":0,"x":428,"y":163,"wires":[["c6536efd.d92898"]]},{"id":"c6536efd.d92898","type":"debug","z":"99a2cc48.67f28","name":"","active":true,"console":"false","complete":"false","x":582,"y":162,"wires":[]},{"id":"8a092086.07eb","type":"function","z":"99a2cc48.67f28","name":"","func":"var temp = msg.payload.d.temperature;\nvar hum = msg.payload.d.humidity;\nvar date = new Date();\n\nvar text = \"Tinh hinh cay trong :\\n\";\ntext += \"Nhiet do \" + temp + \"\\n\";\ntext += \"Do am \" + hum + \"\\n\";\nif ( temp > 30)\ntext += \"Tuoi cay di !\\n\";\ntext +=\"Time: \" + date + \"\\n\";\nmsg.payload =\n\n{\n    \"channel\": \"#treetracking\",\n    \"username\": \"MotionSensor\",\n    \"text\": text,\n    \"icon_emoji\": \":exclamation:\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":292,"y":204,"wires":[["a1d40909.3b82e8"]]},{"id":"a1d40909.3b82e8","type":"http request","z":"99a2cc48.67f28","name":"","method":"POST","ret":"txt","url":"https://hooks.slack.com/services/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","tls":"","x":437,"y":205,"wires":[["fb0b107.71aeb7"]]},{"id":"fb0b107.71aeb7","type":"debug","z":"99a2cc48.67f28","name":"","active":true,"console":"false","complete":"false","x":606,"y":205,"wires":[]},{"id":"331134a.58b33cc","type":"http in","z":"99a2cc48.67f28","name":"","url":"/webhook","method":"get","upload":false,"swaggerDoc":"","x":98,"y":378,"wires":[["ea23131e.8c9768","909201ea.2b32b"]]},{"id":"909201ea.2b32b","type":"function","z":"99a2cc48.67f28","name":"","func":"var mode = '';\nvar vtoken = '';\nvar challenge = '';\nif (msg.payload['hub.mode'])\n{\n   mode = msg.payload['hub.mode'];\n}\nif (msg.payload['hub.verify_token'])\n{\n   vtoken = msg.payload['hub.verify_token'];\n}\nif (msg.payload['hub.challenge'])\n{\n   challenge = msg.payload['hub.challenge'];\n}\nif ('subscribe' == mode &&\n 'testtreetracking_messenger_app' == vtoken) {\n   msg.payload = challenge;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":156,"y":426,"wires":[["7154ed67.009904"]]},{"id":"7154ed67.009904","type":"http response","z":"99a2cc48.67f28","name":"","statusCode":"","headers":{},"x":272,"y":425,"wires":[]},{"id":"ea23131e.8c9768","type":"debug","z":"99a2cc48.67f28","name":"","active":true,"console":"false","complete":"false","x":176,"y":316,"wires":[]},{"id":"1b916a85.94815d","type":"http in","z":"99a2cc48.67f28","name":"","url":"/webhook","method":"post","upload":false,"swaggerDoc":"","x":418,"y":336,"wires":[["f1dab70f.26311"]]},{"id":"f1dab70f.26311","type":"function","z":"99a2cc48.67f28","name":"setup for Send API","func":"context.global.sid = msg.payload.entry[0].messaging[0].sender.id;\nmsg.payload = msg.payload.entry[0].messaging[0].message.text;\nreturn msg;","outputs":1,"noerr":0,"x":486,"y":402,"wires":[["2443bc9a.05630c"]]},{"id":"2443bc9a.05630c","type":"watson-conversation-v1","z":"99a2cc48.67f28","name":"","workspaceid":"d427ddec-906e-45c1-9822-13a7418c2495","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":623,"y":337,"wires":[["adfd489b.9c462"]]},{"id":"adfd489b.9c462","type":"function","z":"99a2cc48.67f28","name":"Format Send Request","func":"var messageText = msg.payload.output.text[0];\nvar senderId = context.global.sid;\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": messageText\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":742,"y":405,"wires":[["d36fa672.72d268"]]},{"id":"d36fa672.72d268","type":"http request","z":"99a2cc48.67f28","name":"Send API Request","method":"POST","ret":"obj","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAEKSDl0ZAZBIBAJ8VhSs4MU5dXUoGm6eo78PPIyZCxlOAonYkzFaN5p6dRSY4cidtL3Nmhyb0zeGXfSFon5feVGEA3ToB8zAAm0wEvDSDv1jmVZAs61mizoRHkI4n99TTksT4tpaZB0AKVI4ruoDhzqxhipjSuZC4y42dCLZBX4BxfvpDI0rsQ","tls":"","x":840,"y":336,"wires":[["afcf716b.621ab8"]]},{"id":"afcf716b.621ab8","type":"http response","z":"99a2cc48.67f28","name":"","statusCode":"","headers":{},"x":951,"y":398,"wires":[]},{"id":"f86120f0.4da648","type":"comment","z":"99a2cc48.67f28","name":"Get with FB","info":"","x":185,"y":269,"wires":[]},{"id":"7593a79f.4fc92","type":"comment","z":"99a2cc48.67f28","name":"Post from FB ( Watson Conversation)","info":"","x":648,"y":265,"wires":[]}]