push_notification_fb_messenger
[{"id":"878f7422.8deb48","type":"http in","z":"c3380318.0cac3","name":"","url":"/urlcallback","method":"get","upload":false,"swaggerDoc":"","x":114,"y":157,"wires":[["152b5a51.a1fc7e","76f5d8ab.37a97"]]},{"id":"76f5d8ab.37a97","type":"function","z":"c3380318.0cac3","name":"","func":"var mode = '';\nvar vtoken = '';\nvar challenge = '';\nif (msg.payload['hub.mode'])\n{\n   mode = msg.payload['hub.mode'];\n}\nif (msg.payload['hub.verify_token'])\n{\n   vtoken = msg.payload['hub.verify_token'];\n}\nif (msg.payload['hub.challenge'])\n{\n   challenge = msg.payload['hub.challenge'];\n}\nif ('subscribe' == mode &&\n 'thisismystringtokenapp' == vtoken) {\n   msg.payload = challenge;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":205,"wires":[["e265aa5f.55d658"]]},{"id":"e265aa5f.55d658","type":"http response","z":"c3380318.0cac3","name":"","statusCode":"","headers":{},"x":384,"y":205,"wires":[]},{"id":"152b5a51.a1fc7e","type":"debug","z":"c3380318.0cac3","name":"","active":true,"console":"false","complete":"false","x":275,"y":107,"wires":[]},{"id":"d3c9544.3e70128","type":"function","z":"c3380318.0cac3","name":"Format Send Request","func":"var temp = msg.payload.d.temperature;\nvar hum = msg.payload.d.humidity;\nvar date = new Date();\nvar tuoinuoc = false;\nvar tempmax=40;\nvar text = \"Tình hình cây trồng :\\n\";\ntext += \"Nhiệt độ : \" + temp + \"\\n\";\ntext += \"Độ ẩm : \" + hum + \"\\n\";\n\nif ( hum < 30)\n{\n    text += \"Đất khô quá, tưới nước đi !\\n\";\n    tuoinuoc = true ;\n}\nif ((hum >= 30) && (hum <= 80) && tuoinuoc)\n{\n    text += \"Đủ nước rồi !\\n\";\n    tuoinuoc = false;\n}\n\nif (hum > 90)\n{\n    text += \"Độ ẩm cao không tốt cho cây !\\n\";\n}\n\nif (temp >= tempmax)\ntext += \"Nhiệt độ vượt ngưỡng !\\n\";\n\n\ntext +=\"Time: \" + date + \"\\n\";\n\nvar senderId = \"1501381903286370\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":393,"y":416,"wires":[["9f8a869e.113218"]]},{"id":"9f8a869e.113218","type":"http request","z":"c3380318.0cac3","name":"Send API Request","method":"POST","ret":"obj","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAActDcneZAWMBAC7ySOthZBMgSdcgySo1NGzamKfUlLGZCy3ue1LP5W2GONQQm1rCWJ2qNloLsoR4Ha5BiMw2sqVlzAbuHKrTAxNVSNHzPqfux0iMaF8OiZAMhdzPGXJp7NFEonWTr5pZACR1Jsxw7C4enOHB49hEGH22NiZAkSuCCTaCojPO1","tls":"","x":690,"y":418,"wires":[["2fa9e31e.f054b4"]]},{"id":"2fa9e31e.f054b4","type":"http response","z":"c3380318.0cac3","name":"","statusCode":"","headers":{},"x":907,"y":418,"wires":[]},{"id":"61c7fac3.8d641c","type":"comment","z":"c3380318.0cac3","name":"Get with FB","info":"Thiết lập Webhooks . FB sẽ gửi nhận tại địa chỉ :\nhttps://conv-201-196-testtreetracking.eu-gb.mybluemix.net/urlcallback","x":226,"y":56,"wires":[]},{"id":"e014bd98.574d4","type":"comment","z":"c3380318.0cac3","name":"Post notifications from FB ( Watson Conversation)","info":"","x":535,"y":298,"wires":[]},{"id":"1f07567b.9e99fa","type":"inject","z":"c3380318.0cac3","name":"","topic":"","payload":"{\"d\":{\"Name\":\"treetrackingtester\",\"temperature\":29,\"humidity\":44}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":195,"y":416,"wires":[["d3c9544.3e70128"]]},{"id":"262889a5.1a43b6","type":"comment","z":"c3380318.0cac3","name":"Input","info":"Cảm biến gửi bản tin bao gồm thông tin về nhiệt độ và độ ẩm dưới dạng file .json .\n","x":190,"y":367,"wires":[]},{"id":"db774bf5.7f2928","type":"comment","z":"c3380318.0cac3","name":"Xử lý đầu vào, chèn text và gửi lên FB","info":"Function tách các value từ bản tin nhận được sau đó xử lý text đầu ra để gửi lên fb.\n(*) SenderID là ID của fb cá nhân cần gửi thông báo.","x":415,"y":365,"wires":[]},{"id":"cdcb1518.f4a5e","type":"comment","z":"c3380318.0cac3","name":"FB nhận text","info":"(*) Method : POST .\n\n(*) URL : https://graph.facebook.com/v2.6/me/messages?access_token= <mã xác minh>\n","x":696,"y":361,"wires":[]},{"id":"9eac8769.b89558","type":"comment","z":"c3380318.0cac3","name":"Cyan : 1501381903286370","info":"","x":869,"y":239,"wires":[]},{"id":"49101c4a.1247fc","type":"http in","z":"c3380318.0cac3","name":"","url":"/urlcallback","method":"post","upload":false,"swaggerDoc":"","x":505,"y":94,"wires":[["3c9264d5.0a9e5c","5b06755e.9579d4"]]},{"id":"3c9264d5.0a9e5c","type":"http response","z":"c3380318.0cac3","name":"","statusCode":"","headers":{},"x":661,"y":80,"wires":[]},{"id":"5b06755e.9579d4","type":"debug","z":"c3380318.0cac3","name":"","active":true,"console":"false","complete":"false","x":606,"y":156,"wires":[]},{"id":"ddfb8700.32f938","type":"inject","z":"c3380318.0cac3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":360,"y":512,"wires":[["ef032716.e761c"]]},{"id":"ef032716.e761c","type":"function","z":"c3380318.0cac3","name":"Random value","func":"var temp = Math.floor(Math.random() * (50 - 10) + 10);\nvar hum = Math.floor(Math.random() * (100 - 15) + 15);\nvar date = new Date();\nvar tuoinuoc = false;\nvar tempmax=40;\nvar text = \"Tình hình cây trồng :\\n\";\ntext += \"Nhiệt độ : \" + temp + \"\\n\";\ntext += \"Độ ẩm : \" + hum + \"\\n\";\n\nif ( hum < 30)\n{\n    text += \"Đất khô quá, tưới nước đi !\\n\";\n    tuoinuoc = true ;\n}\nif ((hum >= 30) && (hum <= 80) && tuoinuoc)\n{\n    text += \"Đủ nước rồi !\\n\";\n    tuoinuoc = false;\n}\n\nif (hum > 90)\n{\n    text += \"Độ ẩm cao không tốt cho cây !\\n\";\n}\n\nif (temp >= tempmax)\ntext += \"Nhiệt độ vượt ngưỡng !\\n\";\n\n\ntext +=\"Time: \" + date + \"\\n\";\n\nvar senderId = \"1501381903286370\";\n\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":549,"y":511,"wires":[["e9bd36ac.2fc798","61069701.6a5d38"]]},{"id":"e9bd36ac.2fc798","type":"http request","z":"c3380318.0cac3","name":"","method":"POST","ret":"obj","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAActDcneZAWMBAC7ySOthZBMgSdcgySo1NGzamKfUlLGZCy3ue1LP5W2GONQQm1rCWJ2qNloLsoR4Ha5BiMw2sqVlzAbuHKrTAxNVSNHzPqfux0iMaF8OiZAMhdzPGXJp7NFEonWTr5pZACR1Jsxw7C4enOHB49hEGH22NiZAkSuCCTaCojPO1","tls":"","x":738,"y":482,"wires":[["e7605e24.c66298"]]},{"id":"61069701.6a5d38","type":"debug","z":"c3380318.0cac3","name":"","active":true,"console":"false","complete":"payload.message.text","x":787,"y":551,"wires":[]},{"id":"e7605e24.c66298","type":"debug","z":"c3380318.0cac3","name":"","active":true,"console":"false","complete":"false","x":908,"y":514,"wires":[]},{"id":"eb9d0f21.13c218","type":"inject","z":"c3380318.0cac3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":249,"y":617,"wires":[["7c227b30.2aaa6c"]]},{"id":"7c227b30.2aaa6c","type":"function","z":"c3380318.0cac3","name":"Random Input Value","func":"var temp = Math.floor(Math.random() * (50 - 10) + 10);\nvar hum = Math.floor(Math.random() * (100 - 15) + 15);\nmsg.payload = \n{\n    \"d\": {\n        \"Name\": \"treetrackingtester\",\n        \"temperature\": temp,\n        \"humidity\": hum\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":723,"wires":[["68f23568.174c74","b4972a04.9affd"]]},{"id":"68f23568.174c74","type":"switch","z":"c3380318.0cac3","name":"Humidity","property":"payload.d.humidity","propertyType":"msg","rules":[{"t":"lt","v":"30","vt":"num"},{"t":"gt","v":"90","vt":"str"}],"checkall":"true","outputs":2,"x":441,"y":679,"wires":[["5fb79669.bb7388"],["b0612814.81da6"]]},{"id":"b4972a04.9affd","type":"switch","z":"c3380318.0cac3","name":"Temperature","property":"payload.d.temperature","propertyType":"msg","rules":[{"t":"gt","v":"40","vt":"num"}],"checkall":"true","outputs":1,"x":453,"y":770,"wires":[["d56f5a4c.a70de"]]},{"id":"5fb79669.bb7388","type":"function","z":"c3380318.0cac3","name":"","func":"var senderId = \"1501381903286370\";\nvar text = \"Đất khô quá, tưới nước đi !\\n\";\nvar date = new Date();\ntext +=\"Time: \" + date + \"\\n\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":602,"y":657,"wires":[["b72bce53.86cc38"]]},{"id":"b72bce53.86cc38","type":"http request","z":"c3380318.0cac3","name":"","method":"POST","ret":"obj","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAActDcneZAWMBAC7ySOthZBMgSdcgySo1NGzamKfUlLGZCy3ue1LP5W2GONQQm1rCWJ2qNloLsoR4Ha5BiMw2sqVlzAbuHKrTAxNVSNHzPqfux0iMaF8OiZAMhdzPGXJp7NFEonWTr5pZACR1Jsxw7C4enOHB49hEGH22NiZAkSuCCTaCojPO1","tls":"","x":750,"y":659,"wires":[["606acbad.ab3954"]]},{"id":"606acbad.ab3954","type":"debug","z":"c3380318.0cac3","name":"","active":true,"console":"false","complete":"false","x":938,"y":665,"wires":[]},{"id":"b0612814.81da6","type":"function","z":"c3380318.0cac3","name":"","func":"var senderId = \"1501381903286370\";\nvar text = \"Độ ẩm cao không tốt cho cây !\\n\";\nvar date = new Date();\ntext +=\"Time: \" + date + \"\\n\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":606,"y":700,"wires":[["624fbf59.c1f6e"]]},{"id":"624fbf59.c1f6e","type":"http request","z":"c3380318.0cac3","name":"","method":"POST","ret":"obj","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAActDcneZAWMBAC7ySOthZBMgSdcgySo1NGzamKfUlLGZCy3ue1LP5W2GONQQm1rCWJ2qNloLsoR4Ha5BiMw2sqVlzAbuHKrTAxNVSNHzPqfux0iMaF8OiZAMhdzPGXJp7NFEonWTr5pZACR1Jsxw7C4enOHB49hEGH22NiZAkSuCCTaCojPO1","tls":"","x":750,"y":709,"wires":[["e0685c50.f1035"]]},{"id":"d014afff.fed1b","type":"http request","z":"c3380318.0cac3","name":"","method":"POST","ret":"obj","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAActDcneZAWMBAC7ySOthZBMgSdcgySo1NGzamKfUlLGZCy3ue1LP5W2GONQQm1rCWJ2qNloLsoR4Ha5BiMw2sqVlzAbuHKrTAxNVSNHzPqfux0iMaF8OiZAMhdzPGXJp7NFEonWTr5pZACR1Jsxw7C4enOHB49hEGH22NiZAkSuCCTaCojPO1","tls":"","x":751,"y":772,"wires":[["854435c.ffb16c8"]]},{"id":"e0685c50.f1035","type":"debug","z":"c3380318.0cac3","name":"","active":true,"console":"false","complete":"false","x":941,"y":711,"wires":[]},{"id":"d56f5a4c.a70de","type":"function","z":"c3380318.0cac3","name":"","func":"var senderId = \"1501381903286370\";\nvar text = \"Nhiệt độ vượt ngưỡng !\\n\";\nvar date = new Date();\ntext +=\"Time: \" + date + \"\\n\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":616,"y":774,"wires":[["d014afff.fed1b"]]},{"id":"854435c.ffb16c8","type":"debug","z":"c3380318.0cac3","name":"","active":true,"console":"false","complete":"false","x":948,"y":772,"wires":[]}]
