slackapp
[{"id":"e279ce28.873c8","type":"function","z":"99a2cc48.67f28","name":"","func":"msg.payload = msg.payload.d;\nreturn msg;","outputs":"1","noerr":0,"x":290,"y":40,"wires":[["da15b94a.d488c8"]]},{"id":"da15b94a.d488c8","type":"cloudant out","z":"99a2cc48.67f28","name":"","cloudant":"","database":"treetracking","service":"conv-201-196-testtreetracking-cloudantNoSQLDB","payonly":true,"operation":"insert","x":445,"y":40,"wires":[]},{"id":"c82c6026.7548e","type":"inject","z":"99a2cc48.67f28","name":"","topic":"","payload":"{\"d\":{\"Name\":\"treetrackingtester\",\"temperature\":40,\"humidity\":30}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":150,"y":200,"wires":[["e279ce28.873c8","fa17269d.e2b6a","e3583d1.b4a904","8a092086.07eb"]]},{"id":"d8675ae0.45f508","type":"comment","z":"99a2cc48.67f28","name":"input data","info":"","x":72,"y":40,"wires":[]},{"id":"fa17269d.e2b6a","type":"switch","z":"99a2cc48.67f28","name":"","property":"payload.d.temperature","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"str"}],"checkall":"true","outputs":1,"x":289,"y":82,"wires":[["d4a0487.8a81538"]]},{"id":"d4a0487.8a81538","type":"function","z":"99a2cc48.67f28","name":"","func":"var temperature = msg.payload.d.temperature;\n\nvar Name = msg.payload.d.Name;\n\nmsg.payload = \"Temperature at device \" + Name + \" is \" + temperature + \" degrees!\";\n\nreturn msg;","outputs":1,"noerr":0,"x":424,"y":82,"wires":[["1f2a1a61.dbd92e"]]},{"id":"1f2a1a61.dbd92e","type":"debug","z":"99a2cc48.67f28","name":"","active":true,"console":"false","complete":"payload","x":563,"y":82,"wires":[]},{"id":"e3583d1.b4a904","type":"switch","z":"99a2cc48.67f28","name":"","property":"payload.d.humidity","propertyType":"msg","rules":[{"t":"lt","v":"30","vt":"str"}],"checkall":"true","outputs":1,"x":289,"y":123,"wires":[["f69909db.15e8f"]]},{"id":"f69909db.15e8f","type":"function","z":"99a2cc48.67f28","name":"","func":"var humidity = msg.payload.d.humidity;\n\nvar Name = msg.payload.d.Name;\n\nmsg.payload = \"Humidity at device \" + Name + \" is \" + humidity + \" degrees!\";\n\nreturn msg;","outputs":1,"noerr":0,"x":423,"y":123,"wires":[["c6536efd.d92898"]]},{"id":"c6536efd.d92898","type":"debug","z":"99a2cc48.67f28","name":"","active":true,"console":"false","complete":"false","x":577,"y":122,"wires":[]},{"id":"8a092086.07eb","type":"function","z":"99a2cc48.67f28","name":"format form ","func":"var temp = msg.payload.d.temperature;\nvar hum = msg.payload.d.humidity;\nvar date = new Date();\n\nvar text = \"Tinh hinh cay trong :\\n\";\ntext += \"Nhiet do \" + temp + \"\\n\";\ntext += \"Do am \" + hum + \"\\n\";\nif ( temp > 30)\ntext += \"Tuoi cay di !\\n\";\ntext +=\"Time: \" + date + \"\\n\";\nmsg.payload =\n\n{\n    \"channel\": \"#treetracking\",\n    \"username\": \"MotionSensor\",\n    \"text\": text,\n    \"icon_emoji\": \":exclamation:\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":204,"wires":[["a1d40909.3b82e8"]]},{"id":"a1d40909.3b82e8","type":"http request","z":"99a2cc48.67f28","name":"","method":"POST","ret":"txt","url":"https://hooks.slack.com/services/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","tls":"","x":471,"y":203,"wires":[["fb0b107.71aeb7"]]},{"id":"fb0b107.71aeb7","type":"debug","z":"99a2cc48.67f28","name":"","active":true,"console":"false","complete":"payload","x":626,"y":202,"wires":[]}]
